/* stylesheet for login form */
/* Author - Kundan kumar */
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import url('https://fonts.googleapis.com/css?family=Patua+One');



ul.nav-tabs li
{
	width:50%;
}
ul.nav-tabs li a
{
	border-radius:0;
	text-align:center;
	font-family: 'Bree Serif', serif , 'Patua One', cursive;
	font-size:1.5em;
}
.loginForm
{
	height:3.5em;
	font-family:verdana;
	font-size:1.3em;
	background:transparent;
}
.loginForm-btn
{
	height:3.5em;
	font-family:verdana;
	font-size:1.3em;
}
.nav-tabs 
{
	border:1px solid #979faf;
	border-collapse:collapse;
}
.nav > li > a
{
	margin-right:0;
}
.tab-content
{
	border:1px solid #979faf;
	padding:8px;
	border-top:none;
}
.heading
{
	text-align:center;
	color:#51565e;
	font-family:'Bree Serif', serif;
}
.checkbox
{
	font-family:'Bree Serif', serif , 'Patua One', cursive;
}
.toggleForm
{
	border:2px solid #ddd;
	padding:2%;
	padding-top:0;
	background:linen;
}
/* standard*/

/* standard*/
@media screen and (max-width:800px)
{
	.checkbox
	{
		font-size:1em;
	}
	.toggleForm
	{
		margin:10px;
	}
	ul.nav-tabs li a
	{
		font-size:1em;
	}
	.loginForm
	{
		font-size:1em;
	}
	.loginForm-btn
	{
		font-size:1em;
	}
	.heading
	{
		font-size:1.5em;
	}
}



